@using ZayShop.Areas.Admin.Models.Slider
@model SliderCreateVM

<form method="post" asp-action="create" asp-controller="slider">
    <div class="form-group">
        <label asp-for="Title"></label>
        <input asp-for="Title" class="form-control" placeholder="Enter title" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Subtitle"></label>
        <input asp-for="Subtitle" class="form-control" placeholder="Enter Subtitle" />
        <span asp-validation-for="Subtitle" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description"></label>
        <input asp-for="Description" class="form-control" placeholder="Enter Description" />
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="PhotoPath"></label>
        <input asp-for="PhotoPath" class="form-control" placeholder="Enter PhotoPath" />
        <span asp-validation-for="PhotoPath" class="text-danger"></span>
    </div>
  
    <button type="submit" class="btn btn-primary">Create</button>
</form>