@using ZayShop.Areas.Admin.Models.Category
@model CategoryUpdateVM

<form method="post" asp-action="update" asp-controller="category">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" placeholder="Enter Category Name" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Update</button>
    <a class="btn btn-primary" asp-action="Index" asp-controller="category">Cancel</a>
</form>